<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="公告列表">
  <ion-content>
    <div class="row">
      <div class="col col-70">开通商品房办证</div>
      <div class="col col-30 text-right">2016-09-15</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col col-70">开通商品房办证</div>
      <div class="col col-30 text-right">2016-09-15</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col col-70">开通商品房办证</div>
      <div class="col col-30 text-right">2016-09-15</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col col-70">开通商品房办证</div>
      <div class="col col-30 text-right">2016-09-15</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col col-70">开通商品房办证</div>
      <div class="col col-30 text-right">2016-09-15</div>
    </div>
    <div class="divider"></div>
  </ion-content>
</ion-view>
