<ion-view view-title="在线业务查询">
  <ion-content scrollbar-y="false">

    <div class="list list-inset">
      <p class="title">请输入业务受理编号查询</p>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="查询">
      </label>
    </div>
   <div class="row">
     <div class="col text-center"><button class="button  button-positive">确认</button></div>
     <div class="col text-center"><button class="button  button-assertive">取消</button></div>
   </div>
  </ion-content>
</ion-view>
