<ion-view view-title="个人信息">
  <ion-content scrollbar-y="false">
    <div class="list">
      <div class="item item-input">
        <div class="input-label">
          <img class="areaIcon" ng-src="img/person.png"/>个人信息
        </div>
      </div>
      <div class="item item-input">
        <div class="input-label">
          姓名：
        </div>
        <input type="text" placeholder="输入姓名" ng-model="user.name" ng-model-options="{updateOn:'input'}"/>
      </div>
      <div class="item item-input">
        <div class="input-label">
          身份证号：
        </div>
        <input type="text" placeholder="输入身份证号" ng-model="user.cid"  ng-model-options="{updateOn:'input'}"/>
      </div>
      <div class="item item-input">
        <div class="input-label">
          移动电话：
        </div>
        <input type="text" placeholder="输入移动电话" ng-model="user.phone"  ng-model-options="{updateOn:'input'}"/>
      </div>
      </div>
    <button ng-click="confirmEdit()" class="button button-balanced button-full">确定修改</button>
  </ion-content>
</ion-view>
