<ion-view view-title="分类指引">
  <ion-content scrollbar-y="false" style="background: #f6f6f6">
    <div class="row" ng-click="showGuide()">
      <div class="col">
        <div class="contentBtn">
          <img src="img/proessGuideIco1.png">
        </div>
      </div>
    </div>
    <div class="row" ng-click="showRequirement()">
      <div class="col">
        <div class="contentBtn">
          <img src="img/proessGuideIco2.png">
        </div>
      </div>
    </div>
    <div class="row" ng-click="showQuestions()">
      <div class="col">
        <div class="contentBtn">
          <img src="img/proessGuideIco3.png">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
