<ion-view view-title="常见问题">
  <ion-content scrollbar-y="false">
    <div class="item">
      <b>问题分类</b>
    </div>
    <div class="row">
      <div class="col col-33 text-left">
        <button class="button button-small button-outline button-positive">全部</button>
      </div>
      <div class="col col-33 text-left">
        <button class="button button-small button-outline button-positive">新建商品房</button>
      </div>
      <div class="col col-33 text-left">
        <button class="button button-small button-outline button-positive">二手房买卖</button>
      </div>
    </div>
    <div class="row">
      <div class="col col-33 text-left">
        <button class="button button-small button-outline button-positive">其他</button>
      </div>

    </div>
    <div class="divider"></div>

    <div class="item">
      <b>常见问题</b>
    </div>

    <div class="row">
      <div class="col col-70">开通商品房办证</div>
      <div class="col col-30 text-right">2016-09-15</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col col-70">开通商品房办证</div>
      <div class="col col-30 text-right">2016-09-15</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col col-70">开通商品房办证</div>
      <div class="col col-30 text-right">2016-09-15</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col col-70">开通商品房办证</div>
      <div class="col col-30 text-right">2016-09-15</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col col-70">开通商品房办证</div>
      <div class="col col-30 text-right">2016-09-15</div>
    </div>
    <div class="divider"></div>

  </ion-content>
</ion-view>
