<ion-view view-title="登记要件">
  <ion-content scrollbar-y="false">
    <div class="item">
      <b>抵押登记</b>
    </div>
    <div class="row">
      <div class="col col-90 " style="line-height: 45px;padding-top: 0;padding-bottom: 0">
        <p style="font-size: 16px">1. 抵押权注销登记</p>
      </div>
      <div class="col col-10 ">
        <div class="rightArrow"></div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="item">
      <b>抵押登记</b>
    </div>
    <div class="row">
      <div class="col col-90 " style="line-height: 45px;padding-top: 0;padding-bottom: 0">
        <p style="font-size: 16px">1. 新建商品房买卖</p>
      </div>
      <div class="col col-10 ">
        <div class="rightArrow"></div>
      </div>
    </div>
    <div class="dividerLine"></div>
    <div class="row">
      <div class="col col-90 " style="line-height: 45px;padding-top: 0;padding-bottom: 0">
        <p style="font-size: 16px">1. 存量房屋买卖</p>
      </div>
      <div class="col col-10 ">
        <div class="rightArrow"></div>
      </div>
    </div>
    <div class="dividerLine"></div>
  </ion-content>
</ion-view>
