<ion-view view-title="分类指引" >
  <ion-content scrollbar-y="false">
    <div class="row">
      <div class="col text-left"><b>使用说明</b></div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col col-90 " style="line-height: 45px;padding-top: 0;padding-bottom: 0">
        <p style="font-size: 16px">1. 首次预约必读</p>
      </div>
      <div class="col col-10 ">
        <div class="rightArrow"></div>
      </div>
    </div>
    <div class="dividerLine"></div>
    <div class="row">
      <div class="col col-90 " style="line-height: 45px;padding-top: 0;padding-bottom: 0">
        <p style="font-size: 16px">2. 如何使用本预约系统</p>
      </div>
      <div class="col col-10 ">
        <div class="rightArrow"></div>
      </div>
    </div>
    <div class="dividerLine"></div>
    <div class="row">
      <div class="col col-90 " style="line-height: 45px;padding-top: 0;padding-bottom: 0">
        <p style="font-size: 16px">3. 预约服务流程图</p>
      </div>
      <div class="col col-10 ">
        <div class="rightArrow"></div>
      </div>
    </div>
    <div class="dividerLine"></div>
  </ion-content>
</ion-view>
