<ion-view view-title="{{title}}">
  <ion-content scrollbar-y="false">
    <div class="row" style="padding: 0px;">
      <div class="col  banner" style="background-image: url('{{banner}}');background-repeat:no-repeat;background-size:100%;">
      </div>
    </div>
    <div class="row">
      <div class="col text-center"><img ng-click="goToPage('tab.guides')" style="width: 120px;height: 100px" ng-src="{{iconImgs[0]}}"/></div>
      <div class="col text-center"><img ng-click="goToPage('tab.notice')" style="width: 120px;height: 100px" ng-src="{{iconImgs[1]}}"/></div>
    </div>
    <div class="row">
      <div class="col text-center"><img ng-click="goToPage('tab.person')" style="width: 120px;height: 100px" ng-src="{{iconImgs[2]}}"/></div>
      <div class="col text-center"><img ng-click="goToPage('tab.announce')" style="width: 120px;height: 100px" ng-src="{{iconImgs[3]}}"/></div>
    </div>
    <div class="row">
      <div class="col text-center"><img ng-click="goToPage('tab.queryBiz')" style="width: 120px;height: 100px" ng-src="{{iconImgs[4]}}"/></div>
      <div class="col text-center"><img style="width: 120px;height: 100px" ng-src="{{iconImgs[5]}}"/></div>
    </div>
  </ion-content>
</ion-view>
